/*****************
CAROUSEL 
******************/
#carousel{
    width: 800px;
    height: 400px;
    margin: 30px auto;
    position: relative;
}

#carousel #gallery{
    width: 100%;
    height: 100%;
}

#carousel #gallery img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: none;
}

#carousel #gallery .description-image{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    display: none;
}

#carousel #gallery .active{
    display: block;
}


#controls .bi{
    margin: 0px 20px;
    font-size: 3rem;
    cursor: pointer;
    transform: translateY(-50%);
}

#controls .bi:hover{
    color: dodgerblue;
}


/* ? THUMBNAIL */
#thumbnail{
    width: 800px;
    height: 80px;
    margin: 30px auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#thumbnail img {
    width: 19%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    filter: grayscale(1);
}

#thumbnail img:hover{
    cursor: pointer;
    transform: scale(1.05);
}


#thumbnail .active{
    filter: grayscale(0);
    box-shadow: 0 0 10px dodgerblue;
}
